<!DOCTYPE html>
<html>
<head>
  <title>Quiz</title>
</head>
<body>
  <h2>🎯 Simple Quiz</h2>

  <form method="post">
    <label>Student ID:</label>
    <input type="text" name="studentId" required><br><br>

    <label>1. What is the use of Computer Vision?</label><br>
    <input type="radio" name="score" value="used for Image Processing">3<br>
    <input type="radio" name="score" value="10">"Used for Object Detection<br>
    <input type="radio" name="score" value="0">Both<br><br>

    <button type="submit">Submit Quiz</button>
  </form>
</body>
</html>
